<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/home">iCare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/sensors">Sensors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/records">Records</a>
                </li>
                <li [ngStyle]="{ 'display': isAdminMode ? 'flex' : 'none' }" class="nav-item">
                    <a class="nav-link" routerLink="/patients">Patients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/reports">Reports</a>
                </li>
            </ul>
        </div>
        <div *ngIf="currentUser; then authorizedTemplate else unauthorizedTemplate"></div>
    </nav>
</div>

<ng-template #unauthorizedTemplate>
    <ul class="form-inline navbar-nav my-2 my-lg-0">
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
        </li>
    </ul>
</ng-template>
<ng-template #authorizedTemplate>
    <ul class="form-inline navbar-nav my-2 my-lg-0">
        <li class="nav-item">
            <a class="nav-link" routerLink="/profile">{{currentUser.username}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
        </li>
    </ul>
</ng-template>