<h1>Sensors</h1>
<div [ngStyle]="{ 'display': isLoading ? 'flex' : 'none' }">
    <img class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
    />
</div>
<div [ngStyle]="{ 'visibility': isLoading ? 'hidden' : 'visible' }">
    <p *ngIf="sensors == null || sensors.length == 0">
        No sensors found.
    </p>
    <button class="btn btn-sm btn-primary" (click)="addSensor()">Add sensor</button>
    <table [ngStyle]="{ 'visibility': sensors != null && sensors.length > 0 ? 'visible' : 'hidden' }" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Serial</th>
                <th scope="col">Type</th>
                <th [ngStyle]="{ 'display': isAdminMode ? 'flex' : 'none' }" scope="col">Profile ID</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sensor of sensors; let idx = index">
                <ng-template [ngTemplateOutlet]="loadTemplate(sensor)" [ngTemplateOutletContext]="{ idx:idx+1, sensor:sensor}">
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>

<!--Read-only template-->
<ng-template #readOnlyTemplate let-idx="idx" let-sensor="sensor">
    <td>{{idx}}</td>
    <td>{{sensor.serial}}</td>
    <td>{{sensor.sensorType}}</td>
    <td [ngStyle]="{ 'display': isAdminMode ? 'flex' : 'none' }">{{sensor.profileId}}</td>
    <td>
        <a routerLink="/records" [queryParams]="{ sensorId: sensor.id }">Records</a>
    </td>
    <td>
        <div>
            <button class="btn btn-sm btn-warning" (click)="editSensor(sensor)">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteSensor(sensor.id)">Remove</button>
        </div>
    </td>
</ng-template>


<!--Template for editing-->
<ng-template #editTemplate let-idx="idx">
    <td>{{idx}}</td>
    <td>
        <input type="text" [(ngModel)]="editedSensor.serial" class="form-control" />
    </td>
    <td>
        <select type="text" [(ngModel)]="editedSensor.sensorType" class="form-control">
            <option value="Temperature">Temperature</option>
            <option value="Acoustic">Acoustic</option>
        </select>
    </td>
    <td [ngStyle]="{ 'display': isAdminMode ? 'flex' : 'none' }">
        <input type="text" [(ngModel)]="editedSensor.profileId" class="form-control" />
    </td>
    <td></td>
    <td>
        <input type="button" value="Save" (click)="saveSensor()" class="btn btn-success" />
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>