<h1>{{operation}} Profile</h1>
<form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && editProfileForm.controls.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First name is required</div>
            <div *ngIf="f.firstName.errors.minlength">First name must be at least 2 characters long</div>
            <div *ngIf="f.firstName.errors.maxlength">First name must contain no more than 20 characters.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && editProfileForm.controls.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last name is required</div>
            <div *ngIf="f.lastName.errors.minlength">Last name must be at least 2 characters long</div>
            <div *ngIf="f.lastName.errors.maxlength">Last name must contain no more than 20 characters.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="middleName">Middle Name</label>
        <input type="text" formControlName="middleName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="birthDate">Birth date</label>
        <input type="date" formControlName="birthDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && editProfileForm.controls.birthDate.errors }" />
        <div *ngIf="submitted && f.birthDate.errors" class="invalid-feedback">
            <div *ngIf="f.birthDate.errors.required">Birth date is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <select formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && editProfileForm.controls.gender.errors }">
            <option value="Male" selected>Male</option>
            <option value="Female">Female</option>
        </select>
        <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
            <div *ngIf="f.gender.errors.required">Gender is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="height">Height, sm</label>
        <input type="number" formControlName="height" class="form-control" placeholder="170" [ngClass]="{ 'is-invalid': submitted && editProfileForm.controls.height.errors }" />
        <div *ngIf="submitted && f.height.errors" class="invalid-feedback">
            <div *ngIf="f.height.errors.required">Height is required</div>
            <div *ngIf="f.height.errors.min">Height must be greater than 40 sm.</div>
            <div *ngIf="f.height.errors.max">Height must be lower than 250 sm.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="weight">Weight, kg</label>
        <input type="number" formControlName="weight" class="form-control" placeholder="60" [ngClass]="{ 'is-invalid': submitted && editProfileForm.controls.weight.errors }" />
        <div *ngIf="submitted && f.height.errors" class="invalid-feedback">
            <div *ngIf="f.weight.errors.required">Weight is required</div>
            <div *ngIf="f.weight.errors.min">Weight must be greater than 20 kg.</div>
            <div *ngIf="f.weight.errors.max">Weight must be lower than 200 kg.</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">{{operation}}</button>
        <img *ngIf="loading" class="pl-3" src={{imgSrc}} />
        <a routerLink="/profile" class="btn btn-link">Cancel</a>
        <a [hidden]="loading || operation=='Create'" (click)="onDelete()" class="btn btn-danger">Delete</a>
    </div>
</form>