<h1>User Profile</h1>
<div [ngStyle]="{ 'display': loading ? 'flex' : 'none' }">
    <img class="pl-3" src={{imgSrc}} />
</div>
<div [ngStyle]="{ 'visibility': isExist ? 'visible' : 'hidden' }">
    <div class="form-group">
        <label for="firstName"><strong>Name: </strong></label>
        <span>
            {{profileForm.controls.lastName.value}} {{profileForm.controls.firstName.value}} {{profileForm.controls.middleName.value}}
        </span>
    </div>

    <div class="form-group">
        <label for="birthDate"><strong>Birth date: </strong></label>
        <span> {{profileForm.controls.birthDate.value}}</span>
    </div>

    <div class="form-group">
        <label for="gender"><strong>Gender: </strong> </label>
        <span> {{profileForm.controls.gender.value}}</span>
    </div>

    <div class="form-group">
        <label for="height"><strong>Height, sm: </strong></label>
        <span> {{profileForm.controls.height.value}}</span>
    </div>

    <div class="form-group">
        <label for="weight"><strong>Weight, kg: </strong></label>
        <span> {{profileForm.controls.weight.value}}</span>
    </div>

    <div class="form-group ">
        <img *ngIf="loading" class="pl-3" src={{imgSrc}} />
        <a routerLink="/profile/edit" class="btn btn-primary">Edit Profile</a>
    </div>
</div>