<div class="title">
    <h1 class="title__text">iCare health monitoring service</h1>
</div>
<div class="menu">
    <div class="menu__elem">
        <div class="description">
            <div class="description__title">
                <a class="description__link" routerLink="/sensors">User Sensors</a>
            </div>
            <div class="logo description__logo">
                <img class="logo__img" src="../../assets/not-found.png" alt="">
            </div>
            <div class="description__text">
                Register your acoustic or temperature sensors and control data collection in real time.
            </div>
        </div>
    </div>
    <div class="menu__elem">
        <div class="description">
            <div class="description__title">
                <a class="description__link" routerLink="/records">Data Records</a>
            </div>
            <div class="logo description__logo">
                <img class="logo__img" src="../../assets/not-found.png" alt="">
            </div>
            <div class="description__text">
                Take full control on captured telemetry data (temperature or acoustic records).
            </div>
        </div>
    </div>
    <div class="menu__elem">
        <div class="description">
            <div class="description__title">
                <a class="description__link" routerLink="/reports">Health-Check Reports</a>
            </div>
            <div class="logo description__logo">
                <img class="logo__img" src="../../assets/not-found.png" alt="">
            </div>
            <div class="description__text">
                Track your health online and receive helpful prescriptions to improve it.
            </div>
        </div>
    </div>
    <div class="menu__elem">
        <div class="description">
            <div class="description__title">
                <a class="description__link" routerLink="/patients">Patients Info</a>
            </div>
            <div class="logo description__logo">
                <img class="logo__img" src="../../assets/not-found.png" alt="">
            </div>
            <div class="description__text">
                Monitor the health of your relatives and colleagues (dockor access).
            </div>
        </div>
    </div>
</div>